@media (max-width: 600px) {
    .navbarr {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu-btn {
        display: flex;
        height: 30px;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .logo-container {
        padding: 5px;
        display: flex;
        align-items: center;
        width: 200px;
        justify-content: start;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .logo-trans {
        width: 40px !important;
        height: 40px !important;
    }

    .brand {
        width: 80px;
        transition: ease-in-out 0.5s;
    }

    .brand-trans {
        width: 60px;
    }
    .banner-img{
        height: 500px;
        background-size: cover;
    }
    .banner-img:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
        height: 500px;
    }
    .title-banner{
        font-size: 30px;
    }
    .map-logistic{
        width: 300px;
    }
    .title-service{
        text-align: center;
    }
    .items-cont{
        margin-top: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item-service{
        width: 40px;
    }
    .text-center{
        width: 150px;
    }
    .item-gallery{
        width: 300px;
        height: 250px;
    }
    .aboutus-description{
        padding-right: 20px;
        padding-left: 20px;
    }
    .firma{
        width: 300px;
    }
    .firma-box{
        align-items: center;
        margin-bottom: 15px;
    }
}