* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif !important;
}

body {
    background-color: rgb(255, 255, 255);
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

.logo-container {
    padding: 5px;
    display: flex;
    align-items: center;
    width: 280px;
    justify-content: start;
}

.logo-cont-trans {
    padding: 0 !important;
}

.logo {
    width: 90px;
    height: 90px;
    transition: ease-in-out 0.5s;
}

.brand {
    width: 80px;
    transition: ease-in-out 0.5s;
}

.brand-trans {
    width: 50px;
}

.logo-trans {
    width: 50px !important;
    height: 50px !important;
}


.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    backdrop-filter: blur(10px);
}

.menu-btn__burger {
    width: 40px;
    height: 3px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

/*MENU NAVBAR */
.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    color: white;
    width: 100%;
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin-right: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    
}

.navbar-links li:hover {
    border-bottom: 1px solid black;
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.banner-img {
    background-image: url('./assets/banner1.jpg');
    width: 100%;
    height: 750px;
    background-position-x: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 850px;
}

.title-banner {
    font-size: 60px;
    color: white;
    z-index: 1;
    width: 70%;
    text-align: center;
    font-weight: 600;
    color: #fff;
    text-shadow: #000000 3px 3px 0px;
}

.services {
    display: flex;
    width: 100%;
    height: 500px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(56, 56, 56, 1) 49%, rgba(96, 96, 96, 1) 89%, rgba(113, 113, 113, 1) 91%, rgba(133, 133, 133, 1) 93%, rgba(145, 145, 145, 1) 94%, rgba(184, 184, 184, 1) 96%, rgba(213, 213, 213, 1) 98%, rgba(241, 241, 241, 1) 100%);
}

.item-service {
    width: 60px;
}

.title-service {
    font-weight: 600;
    color: #fff;
    text-shadow: #000000 3px 3px 0px;
}

.item-description {
    font-size: 16px;
    color: white;
    font-weight: 550;
    text-shadow: #000000 1px 1px 0;
}

.padding {
    padding: 50px;
}